<ion-view cache-view="false">
 
    <div>{{hello}}</div>
    <div class="toothbg"></div>
    <input type="text" ng-model="texturl">
    <p ng-bind-html="texturl"></p>
    <div class="toothbg"></div>
    <input type="text" ng-model="texturl1">
    <p ng-bind-html="texturl1"></p>
    <div class="toothbg"></div>
    <input type="text" ng-model="texturl2">
    <p ng-bind-html="texturl2"></p>
    <div class="toothbg"></div>
    <input type="text" ng-model="texturl3">
    <p ng-bind-html="texturl3"></p>
    <div class="toothbg"></div>
    <input type="text" ng-model="texturl4">
    <p ng-bind-html="texturl4"></p>
    <div class="toothbg"></div>
    <input type="text" ng-model="texturl5">
    <p ng-bind-html="texturl5"></p>
    <div class="toothbg"></div>
    <input type="text" ng-model="texturl6">

    <p ng-bind-html="texturl6"></p>
    <div textinput></div>
    <!--<div class="bigbox">
        <div class="imgbox">
            <img ng-src="{{imgurl}}">
            <div class="hold"></div>
        </div>
    </div>-->

    <!--<div class="slidebox" ng-class="{true:'nowidth',false:'haswidth'}[ifShow]">
        <div class="slider box2"></div>
    </div>-->
    <button ng-click="toggle()">点我</button>

</ion-view>


